1989.7.1 - 2017.6.30

In [184]:
import pandas as pd
import numpy as np
data = pd.read_csv('three_daily_price.csv')

In [185]:
data.head(10)

   PERMNO      date TICKER              COMNAM    PRC
0   10001  19890703   GFGC  GREAT FALLS GAS CO  7.125
1   10001  19890705   GFGC  GREAT FALLS GAS CO -7.125
2   10001  19890706   GFGC  GREAT FALLS GAS CO  7.000
3   10001  19890707   GFGC  GREAT FALLS GAS CO  7.250
4   10001  19890710   GFGC  GREAT FALLS GAS CO  7.125
5   10001  19890711   GFGC  GREAT FALLS GAS CO  7.125
6   10001  19890712   GFGC  GREAT FALLS GAS CO  7.000
7   10001  19890713   GFGC  GREAT FALLS GAS CO  7.000
8   10001  19890714   GFGC  GREAT FALLS GAS CO  7.500
9   10001  19890717   GFGC  GREAT FALLS GAS CO -7.250

In [186]:
data.drop(['TICKER','COMNAM'],axis=1,inplace = True)

In [187]:
data['year']=data['date'].apply(str)
data['year']=data['year'].str[:4]

In [188]:
import datetime
def date(a):
    date =str(a)
    datetime_object = datetime.datetime(int(date[:4]),int(date[4:6]),int(date[6:]))
    return datetime_object

In [189]:
data['Date'] = data['date'].apply(date)

In [190]:
data['weekday'] = data['Date'].apply(lambda x: x.weekday()+1)

In [191]:
data['month'] = data['Date'].apply(lambda x: x.month)

In [192]:
data.head()

   PERMNO      date    PRC  year       Date  weekday  month
0   10001  19890703  7.125  1989 1989-07-03        1      7
1   10001  19890705 -7.125  1989 1989-07-05        3      7
2   10001  19890706  7.000  1989 1989-07-06        4      7
3   10001  19890707  7.250  1989 1989-07-07        5      7
4   10001  19890710  7.125  1989 1989-07-10        1      7

#### Relative Strength Index

In [193]:
def UC_DC(data):
    data['UC'] = data['PRC'] - data['PRC'].shift(1)
    data['DC'] = data['PRC'] - data['PRC'].shift(1)
    return data

In [194]:
data=data.groupby(['PERMNO']).apply(UC_DC)

In [195]:
data['UC'] = data['UC'].apply(lambda x: 0 if x<0 else x)
data['DC'] = data['DC'].apply(lambda x: 0 if x>0 else -x)

In [196]:
data_weekly = data[data['weekday'] == 5]

In [197]:
data_weekly.reset_index(inplace = True)
data_weekly.drop(['index'],axis = 1,inplace = True)

/Users/jingsixu/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [198]:
def AUC_ADC(data_weekly):
    data_weekly['AUC']= data_weekly['UC'].rolling(43).mean()
    data_weekly['ADC']= data_weekly['DC'].rolling(43).mean()
    #return data_weekly


    data_weekly.reset_index(inplace=True)
    for i in range (43,data_weekly.shape[0]):
        data_weekly.loc[i,'AUC']= (data_weekly.loc[i-1,'AUC']*42+ data_weekly.loc[i,'UC'])/43
    for i in range (43,data_weekly.shape[0]):
        data_weekly.loc[i,'ADC']= (data_weekly.loc[i-1,'ADC']*42+ data_weekly.loc[i,'DC'])/43
    return data_weekly

In [199]:
data_weekly=data_weekly.groupby('PERMNO',as_index=False).apply(AUC_ADC).reset_index()

In [200]:
data_weekly.drop(['level_0','level_1','index'],axis=1,inplace = True)

In [201]:
data_weekly['RSI'] = 100 - (100/(1+ data_weekly['AUC']/data_weekly['ADC']))

#### MACD

In [202]:
def EMA1226(data_weekly):
    data_weekly['EMA_12']=data_weekly['PRC'].rolling(12).mean()
    data_weekly['EMA_26']=data_weekly['PRC'].rolling(26).mean()
    
    k_12=2.0/(12.0+1.0)
    k_26=2.0/(26.0+1.0)
    
    data_weekly.reset_index(inplace=True)
    for i in range (12,data_weekly.shape[0]):
        data_weekly.loc[i,'EMA_12']=data_weekly.loc[i-1,'EMA_12']*(1-k_12)+ data_weekly.loc[i,'PRC']*k_12
        
    for i in range (26,data_weekly.shape[0]):
        data_weekly.loc[i,'EMA_26']=data_weekly.loc[i-1,'EMA_26']*(1-k_26)+ data_weekly.loc[i,'PRC']*k_26
    return data_weekly

In [203]:
data_weekly=data_weekly.groupby('PERMNO',as_index=False).apply(EMA1226).reset_index()

In [204]:
data_weekly.drop(['level_0','level_1','index'],axis=1,inplace = True)

In [205]:
data_weekly['MACD'] = data_weekly['EMA_12'] - data_weekly['EMA_26']

In [206]:
def signal_line(data_weekly):
    data_weekly['Signal_Line']=data_weekly['MACD'].rolling(9).mean()
    
    k_9=2.0/(9.0+1.0)
    data_weekly.reset_index(inplace=True)
    for i in range (34,data_weekly.shape[0]):
        data_weekly.loc[i,'Signal_Line']=data_weekly.loc[i-1,'Signal_Line']*(1-k_9)+ data_weekly.loc[i,'MACD']*k_9
    
    return data_weekly

In [207]:
data_weekly = data_weekly.groupby('PERMNO',as_index=False).apply(signal_line).reset_index()

In [208]:
data_weekly['MACD-Signal_Line']=data_weekly['MACD']-data_weekly['Signal_Line']

In [209]:
data_weekly.drop(['level_0','level_1','index'],axis=1,inplace = True)

In [211]:
data_weekly.head(60)

,PERMNO,date,PRC,year,Date,weekday,month,UC,DC,AUC,ADC,RSI,EMA_12,EMA_26,MACD,Signal_Line,MACD-Signal_Line
0,10001,19890707,7.2500,1989,1989-07-07,5,7,0.2500,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,19890714,7.5000,1989,1989-07-14,5,7,0.5000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,19890721,7.5000,1989,1989-07-21,5,7,0.5000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,19890728,7.5000,1989,1989-07-28,5,7,0.2500,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,19890804,7.7500,1989,1989-08-04,5,8,0.0000,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10001,19890811,7.5000,1989,1989-08-11,5,8,0.0000,0.2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10001,19890818,7.5000,1989,1989-08-18,5,8,0.0000,0.1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10001,19890825,7.7500,1989,1989-08-25,5,8,0.0000,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10001,19890901,9.0000,1989,1989-09-01,5,9,0.0000,0.2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10001,19890908,9.2500,1989,1989-09-08,5,9,0.0000,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10001,19890915,9.0000,1989,1989-09-15,5,9,0.0000,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10001,19890922,8.8750,1989,1989-09-22,5,9,0.0000,0.1250,NaN,NaN,NaN,8.031250,NaN,NaN,NaN,NaN
12,10001,19890929,8.8750,1989,1989-09-29,5,9,0.0000,-0.0000,NaN,NaN,NaN,8.161058,NaN,NaN,NaN,NaN
13,10001,19891006,8.6250,1989,1989-10-06,5,10,0.0000,-0.0000,NaN,NaN,NaN,8.232433,NaN,NaN,NaN,NaN
14,10001,19891013,9.5000,1989,1989-10-13,5,10,0.0000,-0.0000,NaN,NaN,NaN,8.427444,NaN,NaN,NaN,NaN
15,10001,19891020,-9.2500,1989,1989-10-20,5,10,0.0000,18.7500,NaN,NaN,NaN,5.707837,NaN,NaN,NaN,NaN
16,10001,19891027,9.5000,1989,1989-10-27,5,10,0.5000,0.0000,NaN,NaN,NaN,6.291247,NaN,NaN,NaN,NaN
17,10001,19891103,9.5000,1989,1989-11-03,5,11,0.2500,0.0000,NaN,NaN,NaN,6.784901,NaN,NaN,NaN,NaN
18,10001,19891110,9.3750,1989,1989-11-10,5,11,0.0000,0.3750,NaN,NaN,NaN,7.183378,NaN,NaN,NaN,NaN
19,10001,19891117,-9.5625,1989,1989-11-17,5,11,0.0000,19.0625,NaN,NaN,NaN,4.607089,NaN,NaN,NaN,NaN
20,10001,19891124,9.5000,1989,1989-11-24,5,11,0.0000,0.2500,NaN,NaN,NaN,5.359844,NaN,NaN,NaN,NaN
21,10001,19891201,9.8750,1989,1989-12-01,5,12,0.0000,-0.0000,NaN,NaN,NaN,6.054484,NaN,NaN,NaN,NaN
22,10001,19891208,9.8750,1989,1989-12-08,5,12,0.0000,-0.0000,NaN,NaN,NaN,6.642255,NaN,NaN,NaN,NaN
23,10001,19891215,9.8750,1989,1989-12-15,5,12,0.0000,-0.0000,NaN,NaN,NaN,7.139601,NaN,NaN,NaN,NaN
24,10001,19891222,10.1250,1989,1989-12-22,5,12,0.2500,0.0000,NaN,NaN,NaN,7.598893,NaN,NaN,NaN,NaN
25,10001,19891229,10.1250,1989,1989-12-29,5,12,0.0000,-0.0000,NaN,NaN,NaN,7.987525,7.396635,0.590890,NaN,NaN
26,10001,19900105,-10.0625,1990,1990-01-05,5,1,0.0000,20.0625,NaN,NaN,NaN,5.210598,6.103365,-0.892767,NaN,NaN
27,10001,19900112,10.1250,1990,1990-01-12,5,1,0.0000,-0.0000,NaN,NaN,NaN,5.966660,6.401264,-0.434604,NaN,NaN
28,10001,19900119,10.0000,1990,1990-01-19,5,1,0.0000,-0.0000,NaN,NaN,NaN,6.587174,6.667837,-0.080664,NaN,NaN
29,10001,19900126,9.8750,1990,1990-01-26,5,1,0.0000,0.1250,NaN,NaN,NaN,7.092993,6.905405,0.187588,NaN,NaN
30,10001,19900202,10.0000,1990,1990-02-02,5,2,0.1250,0.0000,NaN,NaN,NaN,7.540225,7.134634,0.405591,NaN,NaN
31,10001,19900209,9.8750,1990,1990-02-09,5,2,19.8125,0.0000,NaN,NaN,NaN,7.899421,7.337624,0.561797,NaN,NaN
32,10001,19900216,10.0000,1990,1990-02-16,5,2,0.0000,-0.0000,NaN,NaN,NaN,8.222587,7.534837,0.687750,NaN,NaN
33,10001,19900223,9.7500,1990,1990-02-23,5,2,0.0000,0.2500,NaN,NaN,NaN,8.457574,7.698923,0.758650,0.198248,0.560402
34,10001,19900302,9.8750,1990,1990-03-02,5,3,0.0000,0.1250,NaN,NaN,NaN,8.675639,7.860114,0.815525,0.321703,0.493822
35,10001,19900309,9.7500,1990,1990-03-09,5,3,0.0000,0.3750,NaN,NaN,NaN,8.840926,8.000106,0.840820,0.425527,0.415293
36,10001,19900316,-9.9375,1990,1990-03-16,5,3,0.0000,19.9375,NaN,NaN,NaN,5.951937,6.671394,-0.719457,0.196530,-0.915987
37,10001,19900323,9.7500,1990,1990-03-23,5,3,19.6875,0.0000,NaN,NaN,NaN,6.536254,6.899439,-0.363185,0.084587,-0.447772
38,10001,19900330,-9.8750,1990,1990-03-30,5,3,0.0625,0.0000,NaN,NaN,NaN,4.011446,5.656888,-1.645442,-0.261419,-1.384023
39,10001,19900406,10.0000,1990,1990-04-06,5,4,0.0000,-0.0000,NaN,NaN,NaN,4.932762,5.978600,-1.045838,-0.418303,-0.627535
40,10001,19900420,9.7500,1990,1990-04-20,5,4,19.6250,0.0000,NaN,NaN,NaN,5.673876,6.257963,-0.584087,-0.451460,-0.132628
41,10001,19900427,10.0000,1990,1990-04-27,5,4,19.8750,0.0000,NaN,NaN,NaN,6.339433,6.535151,-0.195718,-0.400311,0.204594
42,10001,19900504,9.7500,1990,1990-05-04,5,5,0.0000,0.2500,1.899709,1.867733,50.424383,6.864136,6.773288,0.090848,-0.302079,0.392927
43,10001,19900511,9.8750,1990,1990-05-11,5,5,0.0000,0.1250,1.855530,1.827204,50.384580,7.327346,7.003044,0.324301,-0.176803,0.501105
44,10001,19900518,10.0000,1990,1990-05-18,5,5,0.2500,0.0000,1.818192,1.784711,50.464644,7.738523,7.225041,0.513482,-0.038746,0.552228
45,10001,19900525,10.0000,1990,1990-05-25,5,5,19.8750,0.0000,2.238118,1.743206,56.215420,8.086443,7.430594,0.655849,0.100173,0.555676
46,10001,19900601,10.0000,1990,1990-06-01,5,6,0.2500,0.0000,2.191883,1.702666,56.280784,8.380836,7.620920,0.759916,0.232122,0.527795
47,10001,19900608,-10.0000,1990,1990-06-08,5,6,0.0000,-0.0000,2.140909,1.663069,56.280784,5.553015,6.315667,-0.762651,0.033167,-0.795818
48,10001,19900615,10.0000,1990,1990-06-15,5,6,0.2500,0.0000,2.096934,1.624393,56.349088,6.237167,6.588580,-0.351414,-0.043749,-0.307664
49,10001,19900622,10.2500,1990,1990-06-22,5,6,0.5000,0.0000,2.059796,1.586617,56.488284,6.854526,6.859797,-0.005271,-0.036053,0.030783
50,10001,19900629,9.7500,1990,1990-06-29,5,6,19.7500,0.0000,2.471196,1.549719,61.458555,7.299983,7.073886,0.226098,0.016377,0.209721
51,10001,19900706,10.2500,1990,1990-07-06,5,7,0.0000,-0.0000,2.413726,1.513679,61.458555,7.753832,7.309153,0.444679,0.102037,0.342642
52,10001,19900713,10.2500,1990,1990-07-13,5,7,0.0000,-0.0000,2.357593,1.478477,61.458555,8.137858,7.526994,0.610864,0.203802,0.407061
53,10001,19900720,-10.1250,1990,1990-07-20,5,7,0.0000,20.1250,2.302765,1.912117,54.634157,5.328187,6.219439,-0.891251,-0.015208,-0.876043
54,10001,19900727,9.8750,1990,1990-07-27,5,7,0.0000,0.3750,2.249213,1.876370,54.518668,6.027697,6.490221,-0.462524,-0.104671,-0.357853
55,10001,19900803,-10.0000,1990,1990-08-03,5,8,0.0000,19.7500,2.196905,2.292036,48.940392,3.561897,5.268723,-1.706826,-0.425102,-1.281723
56,10001,19900810,9.7500,1990,1990-08-10,5,8,19.7500,0.0000,2.605117,2.238733,53.781954,4.513913,5.600670,-1.086756,-0.557433,-0.529323
57,10001,19900817,10.1250,1990,1990-08-17,5,8,0.3750,0.0000,2.553254,2.186669,53.866990,5.377157,5.935805,-0.558648,-0.557676,-0.000972
58,10001,19900824,-9.7500,1990,1990-08-24,5,8,0.0000,19.5000,2.493876,2.589305,49.061327,3.049902,4.773894,-1.723991,-0.790939,-0.933052
59,10001,19900831,9.5000,1990,1990-08-31,5,8,0.0000,0.3750,2.435879,2.537809,48.975302,4.042225,5.123976,-1.081751,-0.849101,-0.232649

#### BBP

In [177]:
def bbp(data_weekly):
    data_weekly['SMA']=data_weekly['PRC'].rolling(20).mean()
    data_weekly['STD']=data_weekly['PRC'].rolling(20).mean()
    #data_weekly3['Top_Bound']=data_weekly3['SMA']+2*data_weekly3['STD']
    #data_weekly3['Bottom_Bound']=data_weekly3['SMA']-2*data_weekly3['STD']
    data_weekly['BBP']=(data_weekly['PRC']-data_weekly['SMA'])/(2*data_weekly['STD'])
    return data_weekly

In [178]:
data_weekly=data_weekly.groupby('PERMNO',as_index=False).apply(bbp)

#### post-work

In [179]:
data_weekly = data_weekly[data_weekly['month']==6]

In [180]:
RSI_MACD_BBP = data_weekly.groupby(['PERMNO','year']).tail(1)

In [181]:
RSI_MACD_BBP = RSI_MACD_BBP[['PERMNO','Date','year','RSI','MACD-Signal_Line','BBP']]

In [182]:
RSI_MACD_BBP.head(50)

      PERMNO       Date  year        RSI  MACD-Signal_Line         BBP
50     10001 1990-06-29  1990  61.458555          0.209721    0.203654
101    10001 1991-06-28  1991  55.258518          0.171346    0.549344
152    10001 1992-06-26  1992  62.205760          0.210034    0.153168
200    10001 1993-06-25  1993  57.113107          1.853461    1.900000
250    10001 1994-06-24  1994  52.690614         -2.209677   -3.533708
302    10001 1995-06-30  1995  64.802851         -0.393748    0.849003
353    10001 1996-06-28  1996  44.769440          0.500303    0.933772
404    10001 1997-06-27  1997  53.097258         -0.422527    0.057782
454    10001 1998-06-26  1998  41.941388          0.119974    0.340734
502    10001 1999-06-25  1999  38.608018         -0.324241    0.305604
553    10001 2000-06-30  2000  45.212072          0.258687  212.833333
604    10001 2001-06-29  2001  44.498718          0.344785    0.206175
654    10001 2002-06-28  2002  50.020638          0.049953    0.034725
705    10001 2003-06-27  2003  56.216338         -0.082189   -0.096993
754    10001 2004-06-25  2004  62.656904          0.144062    0.036729
804    10001 2005-06-24  2005  57.658334          0.541578    0.194560
856    10001 2006-06-30  2006  66.255417         -0.158447   -0.041353
907    10001 2007-06-29  2007  27.492920          0.188767    0.158007
958    10001 2008-06-27  2008  41.594565          0.368184    0.111930
1008   10001 2009-06-26  2009  49.262157          0.016618   -0.005950
1056   10001 2010-06-25  2010  58.875796          0.116892    0.072137
1106   10001 2011-06-24  2011  57.442775          0.011497    0.013929
1158   10001 2012-06-29  2012  53.887183         -0.099531   -0.039281
1209   10001 2013-06-28  2013  51.236156          0.006766    0.003852
1260   10001 2014-06-27  2014  54.497019          0.023420    0.025463
1310   10001 2015-06-26  2015  50.994121          0.063235    0.018441
1358   10001 2016-06-24  2016  49.792617          0.000831   -0.039425
1410   10001 2017-06-30  2017  54.667150         -0.087922    0.009963
1461   10012 1990-06-29  1990  30.215644          0.008274   -0.146870
1512   10012 1991-06-28  1991  43.797634         -0.019073   -0.027560
1563   10012 1992-06-26  1992  37.809683          0.104751    0.148012
1611   10012 1993-06-25  1993  54.782031         -0.021941    0.096591
1661   10012 1994-06-24  1994  65.114577         -0.050270   -0.170153
1713   10012 1995-06-30  1995  66.284156          0.099322    0.190647
1764   10012 1996-06-28  1996  72.240812         -0.284023   -0.170651
1815   10012 1997-06-27  1997  58.285974          0.058473    0.084239
1865   10012 1998-06-26  1998  52.360806         -0.049153   -0.101770
1913   10012 1999-06-25  1999  60.804928         -0.000573   -0.029042
1964   10012 2000-06-30  2000  62.191550          0.173209    0.226589
2015   10012 2001-06-29  2001  52.716119          0.223415    0.196474
2065   10012 2002-06-28  2002  46.621719         -0.142493   -0.137584
2116   10012 2003-06-27  2003  49.970527          0.039013   -0.006782
2165   10012 2004-06-25  2004  49.175740         -0.031227   -0.151116
2215   10012 2005-06-24  2005  49.107587         -0.019912   -0.241411

In [183]:
RSI_MACD_BBP.to_csv('rsi_macd_bbp.csv')