In [1]:
import pandas as pd
data = pd.read_csv('Updated Factors/TO.csv')

In [2]:
data.head()

   PERMNO      DATE        To
0   10000  19860107  0.000272
1   10000  19860108  0.003478
2   10000  19860109  0.000380
3   10000  19860110  0.002310
4   10000  19860113  0.001481

In [3]:
data['year']=data['DATE'].apply(str)
data['year']=data['year'].str[:4]

import datetime
def date(a):
    date =str(a)
    datetime_object = datetime.datetime(int(date[:4]),int(date[4:6]),int(date[6:]))
    return datetime_object

data['Date'] = data['DATE'].apply(date)
data['month'] = data['Date'].apply(lambda x: x.month)

In [4]:
data = data.set_index('Date') 
data = data['1989-07-01':'2016-06-30']

In [5]:
data.head(5)

            PERMNO      DATE        To  year  month
Date
1989-07-03   10001  19890703  0.001399  1989      7
1989-07-05   10001  19890705  0.000000  1989      7
1989-07-06   10001  19890706  0.000200  1989      7
1989-07-07   10001  19890707  0.002198  1989      7
1989-07-10   10001  19890710  0.000699  1989      7

In [6]:
def new_year(a):
    if a[1] > 7:
        return int(a[0])+1
    else:
        return int(a[0])

In [7]:
data['new_year'] = data[['year','month']].apply(new_year, axis =1)

In [17]:
To = data.groupby(['PERMNO','new_year'],as_index=False)[['To']].mean()

In [18]:
To['To'] = To['To']*252

In [19]:
To = To[['PERMNO','new_year','To']]

In [21]:
To.to_csv('To_year.csv')

In [22]:
To.shape

(137352, 3)